<section class="py-5">
  <div class="container">
    <div class="text-center mb-5">
      <span class="section-subtitle">Gallery</span>
      <h2 class="section-title">Our Beautiful Moments</h2>
      <p class="section-description">A glimpse of our banquet hall, wedding setup, rooms, and celebrations.</p>
    </div>

    <div class="row g-4">
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/wedding-stage.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Wedding Stage</h5></div></div></div>
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/flower-decoration.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Flower Decoration</h5></div></div></div>
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/luxury-banquet.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Luxury Banquet</h5></div></div></div>
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/banquest-hall.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Reception Hall</h5></div></div></div>
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/entrance.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Entrance</h5></div></div></div>
      <div class="col-lg-4 col-md-6"><div class="gallery-item"><img src="assets/images/guest-room.jpg" class="img-fluid rounded" /><div class="gallery-overlay"><h5>Guest Rooms</h5></div></div></div>
    </div>
  </div>
</section>
